::-webkit-scrollbar {
  position: relative;
  left: 20px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
