.tab {
  overflow: hidden;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 0px;
  background-color: #1727ae;
  padding-left: 10px;
  padding-right: 10px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 14px 20px;
  transition: 0.3s;
  font-size: 17px;
  position: relative;
  top: 14px;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
}

.tab button:hover {
  background-color: #2c43b8;
}

.tab button.active {
  background-color: #fff;
  color: #1727ae;
}
