.tool {
  position: relative;
  display: inline-block;
}

.tool .text {
  visibility: hidden;
  width: 120px;
  background-color: #1727a3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.5s;
}

.tool .text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1727a3 transparent;
}

.tool:hover .text {
  visibility: visible;
  opacity: 1;
}
